body {
    font-family: sans-serif;
    font-size: 12px;
    background-color: #fff;
    width: 300px;
    height: 300Px;
    margin: 0 auto;
  }
  
  .setup-div, .generate-div, .generated-results {
    display: block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .setup-div input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .generate-div button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }
  
  .generated-results {
    height: 200px;
    overflow-y: auto;
  }

  .result-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .result-item p{
    margin: 5;
    flex: 70%;
  }
  .result-item a {
    margin: 5;
  }
  
  .result-item a {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    flex: 25%;
  }

  .result-item .save_a{
    background-color: #1acc4d;
    border: 1px solid #1acc4d;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    flex: 25%;
  }

  .result-item .save_a:hover{
    background-color: #3cd627;
    border-color: #3cd627;
  }
  
  .result-item a:hover {
    background-color: #0069d9;
    border-color: #0069d9;
  }

  .result-item img {
    cursor: pointer;
    height: 20px;
    width: 20px;
    flex: 5%;
    margin: 5;
  }
  
  #chatGPTToggle {
    appearance: none;
    width: 35px;
    height: 17px;
    background-color: #ccc;
    border-radius: 15px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
  }
  
  #chatGPTToggle:checked {
    background-color: #2196F3;
  }
  
  .generate-div {
    display: flex;
    align-items: center;
    gap: 10px;
  }